@import "../../../../styles.scss";

:host .app-tariff {
  padding: 3%;
  &__h2 {
    text-align: center;
  }
  &__input-text {
    width: 100%;
    margin-bottom: -10px;
  }

  /******* Style for XL and LG *******/

  //'screen and (min-width: 1920px) and (max-width: 5000px)' - XL
  //'screen and (min-width: 1280px) and (max-width: 1919px)' - LG

  &__xl,
  &__lg {
    &__other-benefits {
      display: flex;
      flex-direction: column;
      padding: 2% 0%;
      align-items: flex-start;
      &--ul {
        margin: 0;
        list-style-type: square;
      }
    }
    &__id {
      @include base_id(2px, 3%, 150px, null, 2%, null, 2%);
    }
    &__amt {
      flex-direction: column;
      &--btn {
        @include base_button(100%, 100%, 2% 0%);
      }
    }
  }

  /******* Common style for all platform *******/

  &__xl,
  &__lg,
  &__md,
  &__sm,
  &__xs {
    &__row {
      border: 2px solid black;
      margin: 2% 0%;
    }
  }

  /******* Common style sharing for XL, LG, MD *******/

  &__xl,
  &__lg,
  &__md {
    &__download {
      border: 1px solid black;
      padding: 0px 20px;
      margin: 10px 0px;
      border-radius: 10px;
      &--icon {
        padding-right: 20px;
        border-right: 1px solid black;
        height: 15px;
        font-size: 1.2em;
        margin-top: 4px;
      }
      &--text {
        padding-left: 20px;
        vertical-align: super;
        font-size: 0.9em;
      }
    }

    /******* Common style sharing for XS and SM *******/

    &__sm,
    &__xs {
      &__download {
        &--icon {
          font-size: 1.2em;
        }
        &--text {
          margin-left: -5px;
          vertical-align: super;
          font-size: 0.8em;
        }
      }
    }

    /******* Style for MD *******/

    //'screen and (min-width: 960px) and (max-width: 1279px)'

    &__md {
      &__id {
        @include base_id(0px, 6%, 150px, -6%, null, null, null);
      }
    }
    &__amt {
      flex-direction: column;
      font-size: 0.8em;
      &--btn {
        @include base_button(50%, 30px, 3% 10%);
      }
    }
  }

  /******* Style for SM *******/
  // 'screen and (min-width: 600px) and (max-width: 959px)'

  &__sm {
    &__id {
      @include base_id(0px, 6%, 150px, -6%, null, null, null);
    }

    &__amt {
      flex-direction: row;
      font-size: 0.8em;
      &--btn {
        @include base_button(20px, 86px, 3% 10%);
      }
    }
  }

  /******* Style for XS *******/
  // 'screen and (max-width: 599px)'

  &__xs {
    &__id {
      @include base_id(0px, 15%, 120px, -12%, null, -5%, null);
    }
    &__amt {
      flex-direction: row;
      font-size: 0.8em;
      &--btn {
        @include base_button(20px, 86px, 3% 10%);
      }
    }
  }
}

::ng-deep mat-row,
mat-header-row {
  border: none;
}

::ng-deep .mat-table {
  margin-top: -4%;
}
